* {
  /* doesn't get inherited */
  margin: 0px;
  padding: 0px;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0px;
  width: 500px;
}

article {
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

.post-header {
  margin-bottom: 40px;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0px;
}
/*footer p {
  font-size: 16px;
}*/

/*article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* 
ul {
  list-style: none;
} */

.related {
  list-style: none;
}

/* body {
  /* background-color: #red;}*/

/* .first-li {
  font-weight: bold;
} */
/* 
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
} */

/* li:nth-child(odd) {
  color: red; 
} 

article p:first-child {
color: red;
} 
MISCONCEPTION: This doesn't work the way we supposed it would work, because p is not the first child od article

article p:last-child {
  color: red;
}*/

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /*color: #777;*/
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav a:link {
  font-size: 18px;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  display: inline;
  margin-right: 30px;
  margin-top: 10px; /* doesn't work as inline by default*/
}

/* Pseudo class of a pseudo class */
nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

/* Pseudo elements */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::first-letter {
  font-size: 60px;
}

/* Adjacent sibling selector pseudo element */
h3 + p {
  /* color: red; 
      selects every p just after h3 */
}

/* before and after pseudo elements */
